---
import FormattedDate from "../FormattedDate.astro"
import { getFormattedDuration } from "../../FormatDuration"

interface Props {
  startDate: string
  endDate?: string
}

const { startDate, endDate } = Astro.props

const duration = getFormattedDuration(
  new Date(startDate),
  endDate ? new Date(endDate) : new Date(),
)
---

<div class="flex md:flex-col flex-row gap-1">
  <span>
    <FormattedDate date={startDate} /> -
    {endDate != null ? <FormattedDate date={endDate} /> : "Present"}
  </span>
  {`(${duration})`}
</div>
