---
import Section from "../Section.astro"

import { education } from "@cv"
import { SECTION_IDS } from "../Constants"
import ExperienceEntry from "./ExperienceEntry.astro"
---

<Section
  className={Astro.props.className}
  title="Education"
  sectionId={SECTION_IDS.education}
>
  <ul>
    {
      education.map((education) => {
        return (
          <ExperienceEntry
            experience={{
              name: education.institution,
              startDate: education.startDate,
              endDate: education.endDate,
              position: education.area,
              url: education.url,
              location: education.location,
              summary: education.summary,
              skills: education.skills,
              achievements: education.achievements,
            }}
          />
        )
      })
    }
  </ul>
</Section>
