---
import Technology from "./Technology.astro"
import TimelineEntry from "./TimelineEntry.astro"

interface Props {
  experience: {
    name: string
    startDate: string
    endDate?: string
    position: string
    summary?: string
    responsibilities?: string[]
    achievements?: string[]
    url?: string
    skills?: string[]
    location?: { city: string; region?: string; countryCode?: string }
    location_type?: string
  }
}

const {
  name,
  startDate,
  endDate,
  position,
  summary,
  responsibilities,
  achievements,
  url,
  skills,
  location,
  location_type,
} = Astro.props.experience
---

<TimelineEntry
  entry={{
    institution: name,
    startDate,
    endDate,
    title: position,
    url,
    location,
    location_type,
  }}
>
  {
    summary && (
      <div class="flex flex-col gap-1">
        <p>{summary}</p>
      </div>
    )
  }
  {
    (responsibilities || achievements) && (
      <div>
        {responsibilities && (
          <div class="flex flex-col gap-1">
            <h5>Responsibilities:</h5>
            <ul class="text-skin-muted [&>li]:ml-4 flex list-disc flex-col gap-2">
              {responsibilities.map((responsibility) => (
                <li>{responsibility}</li>
              ))}
            </ul>
          </div>
        )}

        {achievements && (
          <div class="flex flex-col gap-1">
            <h5>Achievements:</h5>
            <ul class="text-skin-muted [&>li]:ml-4 flex list-disc flex-col gap-2">
              {achievements.map((achievement) => (
                <li>{achievement}</li>
              ))}
            </ul>
          </div>
        )}
      </div>
    )
  }
  {skills && <Technology technologies={skills} slot="footer" />}
</TimelineEntry>
