---
import Section from "../Section.astro"

import { experience } from "@cv"

import ExperienceEntry from "../ExperienceEntry.astro"
import { SECTION_IDS } from "../Constants"
import CollapsableSection from "../CollapsableSection.astro"

const sortByDate = (a: { startDate: string }, b: { startDate: string }) =>
  new Date(b.startDate).getTime() - new Date(a.startDate).getTime()

const devExperience = experience
  .filter((position) => position.tags?.includes("dev"))
  .sort(sortByDate)

const otherExperience = experience
  .filter((position) => !position.tags?.includes("dev"))
  .sort(sortByDate)
---

<Section
  title="Work Experience"
  sectionId={SECTION_IDS.experience}
  x-data="{ open: false }"
>
  <h3 class="font-semibold text-skin-muted" slot="section-title">
    Dev Related Experience
  </h3>
  <ul class="pt-4">
    {devExperience.map((position) => <ExperienceEntry experience={position} />)}
  </ul>
  <CollapsableSection>
    <h3 class="font-semibold" slot="section-title">Other Work Experience</h3>
    <ul class="pt-4">
      {
        otherExperience.map((position) => (
          <ExperienceEntry experience={position} />
        ))
      }
    </ul>
  </CollapsableSection>
</Section>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
