---
import Section from "../Section.astro"

import { experience } from "@cv"

import ExperienceEntry from "./ExperienceEntry.astro"
import { SECTION_IDS } from "../Constants"

const employment = experience.sort(
  (a: { startDate: string }, b: { startDate: string }) =>
    new Date(b.startDate).getTime() - new Date(a.startDate).getTime(),
)
---

<Section
  className={Astro.props.className}
  title="Experience"
  sectionId={SECTION_IDS.experience}
>
  <ul class="flex flex-col">
    {employment.map((position) => <ExperienceEntry experience={position} />)}
  </ul>
</Section>
