---
import WorldMap from "@/icons/WorldMap.astro"
import type { HTMLAttributes } from "astro/types"
import CountryIcon from "../CountryIcon.astro"

interface Props extends HTMLAttributes<"div"> {
  city: string
  region?: string
  countryCode?: string
}

const { city, region, class: className, countryCode, ...rest } = Astro.props
---

<div
  class:list={["flex items-center gap-2 text-skin-muted", className]}
  {...rest}
>
  {countryCode ? <CountryIcon countryCode={countryCode} /> : <WorldMap />}
  {city}, {region}
</div>
