---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6">
  <span
    class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition text-xs"
    >Designed and developed by Ricky Bok
  </span>
</div>
