---

---

<div class="mb-12 pt-16 w-full text-right text-skin-muted italic">
  <p class="text-sm">Designed and developed by Ricky Bok.</p>
  <p class="text-sm">
    Built using <a href="https://astro.build/">Astro</a>, <a
      href="https://www.typescriptlang.org/">TypeScript</a
    > and <a href="https://tailwindcss.com/">Tailwind CSS</a>.
  </p>
  <p class="text-sm">
    Source code is on
    <a
      aria-label="link to source code on Github"
      href="https://github.com/rickybok/rickybok.com"
      >Github
    </a>
    .
  </p>
</div>
