---

---

<div class="mb-12 pt-16 w-full text-right text-skin-muted italic">
  <p class="text-sm">Designed and developed by Ricky Bok.</p>
  <p class="text-sm">
    Built using <a href="https://astro.build/">Astro</a> and <a
      href="https://tailwindcss.com/">Tailwind CSS</a
    >.
  </p>
</div>
