---
import Layout from "@/layouts/Layout.astro"

import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Header from "@/components/sections/Header.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import Tail from "@/components/sections/Tail.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import ThemeSwitch from "@/components/ThemeSwitch.astro"

import { basics } from "@cv"
const { name, label } = basics
---

<Layout title={`${name} Portafolio - ${label}`}>
  <main class="relative flex flex-col max-w-4xl gap-8 px-4">
    <Header title={name} />
    <Hero />
    <Skills className="print:hidden" />
    <Experience className="print:col-span-3" />
    <Projects className="print:hidden" />
    <Education />
    <Tail />
    <ThemeSwitch />
  </main>

  <KeyboardManager />
</Layout>

<style>
  @page {
    size: auto;
    margin: 0mm;
  }
  main {
    margin: auto;
    width: 100%;
  }
</style>
