---
import Layout from "@/layouts/Layout.astro"

import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Header from "@/components/sections/Header.astro"
import Hero from "@/components/sections/Hero.astro"
import Skills from "@/components/sections/Skills.astro"
import Tail from "@/components/sections/Tail.astro"
import ThemeSwitch from "@/components/ThemeSwitch.astro"

import { basics } from "@cv"
import Subheader from "@/components/sections/Subheader.astro"
const { name, label } = basics
---

<Layout title={`${name} Portafolio - ${label} scroll-smooth`}>
  <main class="relative flex flex-col max-w-4xl gap-12 px-4 scroll-smooth">
    <Header title={name} />
    <Hero />
    <Subheader title={name} />
    <Skills />
    <Experience />
    <Education />
    <Tail />
    <ThemeSwitch />
  </main>
</Layout>

<style>
  @page {
    size: auto;
    margin: 0mm;
  }
  main {
    margin: auto;
    width: 100%;
  }
  html {
  }
</style>
