---
import Layout from "@/layouts/Layout.astro"

import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Header from "@/components/sections/Header.astro"
import Hero from "@/components/sections/Hero.astro"
import Skills from "@/components/sections/Skills.astro"
import Tail from "@/components/sections/Tail.astro"

import { basics } from "@cv"
import Subheader from "@/components/sections/Subheader.astro"
import About from "@/components/sections/About.astro"
const { name, label } = basics
---

<Layout title={`${name} Portfolio - ${label}`}>
  <main class="relative flex flex-col max-w-5xl gap-6 px-8">
    <Header title={name} />
    <Hero />
    <Subheader title={name} />
    <Skills />
    <Experience />
    <Education />
    <About />
    <Tail />
  </main>
</Layout>

<style>
  @page {
    size: auto;
    margin: 0mm;
  }
  main {
    margin: auto;
    width: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
</style>
