---
import CountryIcon from "./CountryIcon.astro"
import Pill from "./Pill.astro"

interface Props {
  language: string
  fluency: string
  countryCode: string
}

const { language, fluency, countryCode } = Astro.props
---

<Pill label={`${language}`}>
  {
    countryCode && (
      <Fragment>
        <CountryIcon countryCode={countryCode} class="align-middle" />
      </Fragment>
    )
  }
  {
    fluency && (
      <Fragment slot="extra">
        -
        <a
          target="_blank"
          href="https://en.wikipedia.org/wiki/Common_European_Framework_of_Reference_for_Languages#Common_reference_levels"
        >
          {fluency}
        </a>
      </Fragment>
    )
  }
</Pill>
