---
interface Props {
  title: string
  link: string
}

const { link, title } = Astro.props
---

<a
  class="font-semibold subNav text-left px-2 sm:px-6 transition display-block text-base pt-2 text-skin-muted hover:text-skin-base hover:no-underline cursor-pointer"
  id={`nav-${link.toLowerCase()}`}
  href={`#anchor-${link}`}
  >{title}
</a>

<style>
  .subNav {
    border-top: 2px solid rgba(var(--color-text-base), 0%);
    animation: border-fade-out 0.5s ease-out;
  }

  .subNav.active {
    border-top: 2px solid rgba(var(--color-text-base), 100%);
    animation: border-fade-in 0.5s ease-out;
    color: rgba(var(--color-text-base), 100%);
  }

  @keyframes border-fade-in {
    0% {
      border-top: 2px solid rgba(var(--color-text-base), 0%);
    }

    100% {
      border-top: 2px solid rgba(var(--color-text-base), 100%);
    }
  }

  @keyframes border-fade-out {
    100% {
      border-top: 2px solid rgba(var(--color-text-base), 0%);
    }

    0% {
      border-top: 2px solid rgba(var(--color-text-base), 100%);
    }
  }
</style>
