---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"div"> {
  label: string
}

const { label, class: className } = Astro.props
---

<li
  class:list={[
    "bg-skin-hue/40 text-skin-base flex gap-1 items-center rounded-md px-2 py-1 text-sm",
    className,
  ]}
>
  <slot />
  <span>{label}</span>
</li>
